<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>Shopping Recommendation App</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="static/css/style.css"> -->
</head>

<body >
  
  <!-- <div class="container">
    <div class="jumbotron jumbotron-fluid text-center">
      <div >
        <h3 class="display-3">You May Also Like</h3>
      </div>
    </div> -->
    
        <h5 class="text-center">Fashion Recommendation System</h5>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
              <!-- <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button> -->
            
              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.whowhatwear.com/" target="_blank">whats making news</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.amazon.com/amazon-fashion/b/?ie=UTF8&node=7141123011&ref_=topnav_storetab_sl" target="_blank">go shopping</a>
                  </li>
                
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <form class="form-inline my-2 my-lg-0" method="POST" action="./option1">
                        <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search"> -->
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">check out our recommendations</button>
                      </form>
                    </li>
                    <li class="nav-item">
                      <form class="form-inline my-2 my-lg-0" method="POST" action="./option2">
                        <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search"> -->
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">generate word cloud</button>
                      </form>
                  </li>
               </ul>
              </div>
            </nav>
            <div class="row">
                <div class="col-md-6">
                    <img src="{{url_for('static', filename='fig2.png')}}">
                </div>
                <div class="col-md-6">
                        <img src="{{url_for('static', filename='lemmet_analysis.png')}}">
                    </div>
            </div>
  




    
    
  </div>
</body>

</html>



    

  
